/* Author: Nataliya Tsytovych
Date: 07/24/2021
Assignmetn: About me Final Project
File:style.css */
nav#main a:hover{
  background-color: black;
}
h1 {
  margin-top: 20px;
}
div#img {
  margin-top: 30px;
}
